################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/APPZ_RGR_1/FileContentIndex
/C#_DP_Templates/.vs/C#_DP_Templates
